.footer {
    margin-top: 120px;
    padding: 60px 20px;

    background: white;

    text-align: center;
    border-top: 1px solid #e5e7eb;
}
.footer h2 {
    font-size: 2rem;

    color: #111827;
    letter-spacing:-.5px;
    margin-bottom: 18px;
}

.footer-tagline {
    max-width: 650px;

    margin: 0 auto 30px;

    color: #6b7280;

    line-height: 1.7;
}

.copyright {
    color: #9ca3af;

    margin-bottom: 10px;

    font-size: 0.9rem;
}

.developer {
    color: #6b7280;

    font-size: 0.95rem;
}