.input-field {
    display: flex;
    align-items: center;
    gap: 14px;

    height: 56px;
    padding: 0 18px;

    border: 1px solid #d1d5db;
    border-radius: 10px;

    margin-top: 18px;
}

.input-field input {
    flex: 1;
    height: 56px;
    line-height: 56px;

    border: none;
    outline: none;
    background: transparent;

    font-size: 16px;
}

.input-field svg {
    font-size: 18px;
    color: #6b7280;
    position: static;
    display: flex;
}

.input-field:focus-within {
    border-color: #2563eb;
    box-shadow: 0 0 0 4px rgba(37, 99, 235, .10);
}

.right-icon {
    cursor: pointer;
    display: flex;
    align-items: center;
}